extends layout

block content
  #search_container
  h1= title
  p Welcome to #{title}
  script.
    SearchView = Backbone.View.extend({
        initialize: function(){
          alert('hello');
        }
        
    });

    var search_view = new SearchView;