doctype html
html
  head
    title= title
    script(src='/bower_components/underscore/underscore.js')
    script(src='/bower_components/backbone/backbone.js')
    script(src='/bower_components/jquery/dist/jquery.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content